@model ToDoViewModel
@{
    <h2>Сегодняшняя дата: @ViewData["date"]</h2>
    @Html.Partial("_Form")

    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model.ToDoList)
            {
                <tr>
                    <th class="todos-column" scope="row">@t.Id</th>
                    <td class="todos-column">@t.Name</td>
                    <td class="buttons-column">
                        <input type="submit" value="Delete" onClick="deleteToDo(@t.Id)" />
                        <input type="submit" value="Update" onClick="populateForm(@t.Id)" />
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <h2>Выберите файл для загрузки</h2>
    <form asp-action="Download" method="post" enctype="multipart/form-data">
        <input type="file" name="uploads" /><br>
        <input type="submit" value="Загрузить" />
    </form>

    /*using (Html.BeginForm("Download", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="fileUpload" />
        <br />
        <input type="submit" name="Submit" id="SubmitSingle" value="Upload" />
    }*/
}